// colors //
$black: #272727;
$white: #fff;
$primary: #607d8b;
$primary-light: #90a4ae;
$primary-dark: #455a64;

// fonts //
$font-default: 'Montserrat', sans-serif;

// font-weghts //
$font-weight-light: 300;
$font-weight-regular: 400;
