.wrapper-new-review-page {
  .wrapper-page-title {
    margin-bottom: 60px;
    background-color: $grey-1;

    .wrapper-page-title-content {
      padding-top: 30px;
      padding-bottom: 30px;

      h1 {
        margin: 0;
        font-size: 1.9em;
        color: $grey-5;
      }
    }
  }

  .button-all-reviews {
    display: inline-block;
    margin-bottom: 45px;
  }
}
