.wrapper-reviews-list {
  .wrapper-category {
    & > div {
      padding: 10px;
      margin: 15px 0;
    }

    & > div:not(:first-of-type) {
      border-top: 1px solid $grey-2;
    }

    h2 {
      font-size: 1.85em;
      background-color: $grey-1;
      text-transform: uppercase;
      margin: 51px 0 -15px;
      color: $grey-5;
      font-weight: $font-weight-light;
      padding: 0.3em;
      letter-spacing: 1px;
      font-weight: $font-weight-light;
    }

    .wrapper-inner-category-review {
      // Ellipsis //
      .note {
        overflow: hidden;
        position: relative;
        line-height: 1.4em;
        max-height: 4.17em;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
        font-size: 0.93em;
      }

      .note:before {
        content: '...';
        position: absolute;
        right: 4px;
        bottom: 1px;
      }

      .note:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
    }

    .button-edit {
      font-size: 0.77em;
      padding: 3px 9px;
      border: 1px solid $splash-light;
      color: $splash-light;
      transition: 0.13s;

      &:hover {
        background-color: $splash-light;
        color: $white;
      }
    }
  }

  .category {
    display: none;
  }

  // .loading {
  //   height: 65vh;
  //   background-image: url(../images/loading.gif);
  //   background-position: 50% 5%;
  //   background-repeat: no-repeat;
  // }

  .no-reviews {
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 60px 0;
  }
}
